

<div class="span9 content">
  
  <%= create_guide("New Office", "Create a new branch office of KKI").html_safe %>

  



  
  <div class="row-fluid">
    <div class="span8">
      <h2>Create New Office</h2>
      
      <p>Just contact <b>w.yunnal@gmail.com</b> if you want to create a new office.</p>
    </div><!--/span-->

    <div class="span4">
      <h2>Statistics</h2>
      <p>1 Office</p>
    </div><!--/span-->
    
  </div><!--/row-->

</div><!--/span-->
