
<div class="explanation-unit">
  <h1>All Loans by <%= client.username.upcase %></h1>
  <p>First, search or create the client using her account number, then create the loan for that client.</p>
</div>
