
<div class="explanation-unit">
  <h1>New Loan</h1>
  <p>First, search or create the client, then create the loan for that client.<br />
    With the right authority, you can approve, and edit the created loan.</p>
</div>
