
<div class="span9 content">
  <%= render :partial => "layouts/guide/all_loans" %>

  

  
  <div class="row-fluid">
    <div class="span12">
      
    </div><!--/span-->
  </div><!--/row-->

</div><!--/span-->
