.explanation-unit {
    background-color: #F5F5F5;
    border-radius: 6px 6px 6px 6px;
    margin-bottom: 30px;
    padding: 10px 30px;
}


.explanation-unit h1 {
    font-size: 60px;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 0;
}

.explanation-unit p {
    font-size: 18px;
    font-weight: 200;
    line-height: 27px;
}

.form-search span.help-inline{ color: #B94A48;}
